schemas/advancedConfigUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="advancedConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="enableCompression"/>
        <xs:element type="xs:string" name="forceVirtualKeyboard"/>
        <xs:element type="xs:string" name="preventMultipleLogon"/>
        <xs:element type="xs:string" name="randomizeVirtualkeys"/>
        <xs:element name="timeout">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="forcedTimeout"/>
              <xs:element type="xs:string" name="sessionIdleTimeout"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="clientNotification"/>
        <xs:element type="xs:string" name="enablePublicUrlAccess"/>
        <xs:element type="xs:string" name="enableLogging"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
