schemas/allUsersUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="userId"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="disableUserAccount"/>
              <xs:element type="xs:string" name="passwordNeverExpires"/>
              <xs:element name="allowChangePassword">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="changePasswordOnNextLogin"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
