schemas/applicationProfilesCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="insertXForwardedFor"/>
        <xs:element type="xs:string" name="sslPassthrough"/>
        <xs:element name="persistence">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="method"/>
              <xs:element type="xs:string" name="cookieName"/>
              <xs:element type="xs:string" name="cookieMode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
