schemas/applianceUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="appliance">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="resourcePoolId"/>
        <xs:element type="xs:string" name="datastoreId"/>
        <xs:element type="xs:string" name="hostId"/>
        <xs:element type="xs:string" name="vmFolderId"/>
        <xs:element name="customField">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="key"/>
              <xs:element type="xs:string" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cpuReservation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="limit"/>
              <xs:element type="xs:string" name="reservation"/>
              <xs:element type="xs:string" name="shares"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="memoryReservation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="limit"/>
              <xs:element type="xs:string" name="reservation"/>
              <xs:element type="xs:string" name="shares"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
