schemas/applianceMgrBackupSettingsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="backupRestoreSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ftpSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="transferProtocol"/>
              <xs:element type="xs:string" name="hostNameIPAddress"/>
              <xs:element type="xs:string" name="port"/>
              <xs:element type="xs:string" name="userName"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:string" name="backupDirectory"/>
              <xs:element type="xs:string" name="filenamePrefix"/>
              <xs:element type="xs:string" name="passiveMode"/>
              <xs:element type="xs:string" name="useEPRT"/>
              <xs:element type="xs:string" name="useEPSV"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="backupFrequency">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="frequency"/>
              <xs:element type="xs:string" name="dayOfWeek"/>
              <xs:element type="xs:string" name="hourOfDay"/>
              <xs:element type="xs:string" name="minuteOfHour"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="excludeTables">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="excludeTable"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
