schemas/bridingUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bridges">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="version"/>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element name="bridge">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="virtualWire"/>
              <xs:element type="xs:string" name="dvportGroup"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
