schemas/certificateSelfSignedCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trustObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="pemEncoding"/>
        <xs:element type="xs:string" name="privateKey"/>
        <xs:element type="xs:string" name="passphrase"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
