schemas/clientConfigUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clientConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="autoReconnect"/>
        <xs:element name="fullTunnel">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="excludeLocalSubnets"/>
              <xs:element type="xs:string" name="gatewayIp"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="upgradeNotification"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
