schemas/cliSettingsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cliSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="userName"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="remoteAccess"/>
        <xs:element type="xs:string" name="passwordExpiry"/>
        <xs:element type="xs:string" name="sshLoginBannerText"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
