schemas/controller.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="controllerSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="ipPoolId"/>
        <xs:element type="xs:string" name="resourcePoolId"/>
        <xs:element type="xs:string" name="hostId"/>
        <xs:element type="xs:string" name="datastoreId"/>
        <xs:element type="xs:string" name="deployType"/>
        <xs:element type="xs:string" name="networkId"/>
        <xs:element type="xs:string" name="password"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
