schemas/csrCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="csr">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attribute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="key"/>
                    <xs:element type="xs:string" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="algorithm"/>
        <xs:element type="xs:string" name="keySize"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
