schemas/defaultFirewallPolicyUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="firewallDefaultPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="action"/>
        <xs:element type="xs:string" name="loggingEnabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
