schemas/dfwConfigImport.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="firewallDraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="preserve"/>
        <xs:element type="xs:string" name="user"/>
        <xs:element type="xs:string" name="mode"/>
        <xs:element name="config">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="contextId"/>
              <xs:element name="layer3Sections">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="section">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="action"/>
                                <xs:element type="xs:string" name="precedence"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id"/>
                              <xs:attribute type="xs:string" name="disabled"/>
                              <xs:attribute type="xs:string" name="logged"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="timestamp"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="layer2Sections">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="section">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="action"/>
                                <xs:element type="xs:string" name="precedence"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id"/>
                              <xs:attribute type="xs:string" name="disabled"/>
                              <xs:attribute type="xs:string" name="logged"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="timestamp"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="generationNumber"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="timestamp"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="timestamp"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
