schemas/dfwIPFixUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ipfixConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="contextId"/>
        <xs:element type="xs:string" name="ipfixEnabled"/>
        <xs:element type="xs:string" name="observationDomainId"/>
        <xs:element type="xs:string" name="flowTimeout"/>
        <xs:element name="collector">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ip"/>
              <xs:element type="xs:string" name="port"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
