schemas/dfwPerformanceUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="globalConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:boolean" name="layer3RuleOptimize"/>
        <xs:element type="xs:boolean" name="layer2RuleOptimize"/>
        <xs:element type="xs:boolean" name="tcpStrictOption"/>
        <xs:element type="xs:boolean" name="autoDraftDisabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
