schemas/dfwRule.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rule">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="action"/>
        <xs:element type="xs:string" name="notes"/>
        <xs:element name="appliedToList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="appliedTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sources">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="source">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="isValid"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="excluded"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="destinations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="destination">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="isValid"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="excluded"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="services">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="service">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="disabled"/>
      <xs:attribute type="xs:string" name="logged"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
