schemas/dfwThresholdsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventThresholds">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cpu">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="percentValue"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="memory">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="percentValue"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="connectionsPerSecond">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
