schemas/dhcpStaticBindingCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="staticBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="vmId"/>
        <xs:element type="xs:string" name="vnicId"/>
        <xs:element type="xs:string" name="hostname"/>
        <xs:element type="xs:string" name="ipAddress"/>
        <xs:element type="xs:string" name="defaultGateway"/>
        <xs:element type="xs:string" name="domainName"/>
        <xs:element type="xs:string" name="primaryNameServer"/>
        <xs:element type="xs:string" name="secondaryNameServer"/>
        <xs:element type="xs:string" name="leaseTime"/>
        <xs:element type="xs:string" name="autoConfigureDNS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
