schemas/dhcpRelayUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="relay">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="relayServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="groupingObjectId" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="ipAddress"/>
              <xs:element type="xs:string" name="fqdn"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="relayAgents">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="relayAgent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="vnicIndex"/>
                    <xs:element type="xs:string" name="giAddress"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
