schemas/dhcpPoolCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ipPool">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ipRange"/>
        <xs:element type="xs:string" name="defaultGateway"/>
        <xs:element type="xs:string" name="domainName"/>
        <xs:element type="xs:string" name="primaryNameServer"/>
        <xs:element type="xs:string" name="secondaryNameServer"/>
        <xs:element type="xs:string" name="leaseTime"/>
        <xs:element type="xs:string" name="autoConfigureDNS"/>
        <xs:element type="xs:string" name="nextServer"/>
        <xs:element name="dhcpOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="option121">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="staticRoute">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="destinationSubnet"/>
                          <xs:element type="xs:string" name="router"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="option66"/>
              <xs:element type="xs:string" name="option67"/>
              <xs:element name="option150">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="server"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="option26"/>
              <xs:element name="other">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="code"/>
                    <xs:element type="xs:string" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
