schemas/dlpFileFiltersUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FileFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="scanAllFiles"/>
        <xs:element type="xs:string" name="lastModifiedAfter"/>
        <xs:element type="xs:string" name="extensionsIncluded"/>
        <xs:element type="xs:string" name="extensions"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
