schemas/dnsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dns">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ipv4Address"/>
        <xs:element type="xs:string" name="ipv6Address"/>
        <xs:element type="xs:string" name="domainList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
