schemas/edgeNatRulesCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="natRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="natRule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="action"/>
              <xs:element type="xs:string" name="vnic"/>
              <xs:element type="xs:string" name="originalAddress"/>
              <xs:element type="xs:string" name="translatedAddress"/>
              <xs:element type="xs:string" name="loggingEnabled"/>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="protocol"/>
              <xs:element type="xs:string" name="translatedPort"/>
              <xs:element type="xs:string" name="originalPort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
