schemas/edgeDnsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dns">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="version"/>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element type="xs:string" name="cacheSize"/>
        <xs:element name="listeners">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ipAddress"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dnsViews">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dnsView">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="viewId"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="enabled"/>
                    <xs:element name="viewMatch">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ipAddress"/>
                          <xs:element type="xs:string" name="vnic"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:boolean" name="recursion"/>
                    <xs:element name="forwarders">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ipAddress"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enable"/>
              <xs:element type="xs:string" name="logLevel"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
