schemas/edgeDnsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dns">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element name="dnsServers">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ipAddress"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="cacheSize"/>
        <xs:element name="listeners">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ipAddress" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="logLevel"/>
              <xs:element type="xs:string" name="enable"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
