schemas/flowsExcludeCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FlowConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="collectFlows"/>
        <xs:element type="xs:string" name="ignoreBlockedFlows"/>
        <xs:element type="xs:string" name="ignoreLayer2Flows"/>
        <xs:element type="xs:string" name="sourceIPs"/>
        <xs:element name="sourceContainer">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="destinationIPs"/>
        <xs:element name="destinationContainer">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="destinationPorts"/>
        <xs:element name="service">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
