schemas/globalFirewallConfigUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="globalConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="tcpPickOngoingConnections"/>
        <xs:element type="xs:string" name="tcpAllowOutOfWindowPackets"/>
        <xs:element type="xs:string" name="tcpSendResetForClosedVsePorts"/>
        <xs:element type="xs:string" name="dropInvalidTraffic"/>
        <xs:element type="xs:string" name="logInvalidTraffic"/>
        <xs:element type="xs:string" name="tcpTimeoutOpen"/>
        <xs:element type="xs:string" name="tcpTimeoutEstablished"/>
        <xs:element type="xs:string" name="tcpTimeoutClose"/>
        <xs:element type="xs:string" name="udpTimeout"/>
        <xs:element type="xs:string" name="icmpTimeout"/>
        <xs:element type="xs:string" name="icmp6Timeout"/>
        <xs:element type="xs:string" name="ipGenericTimeout"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
