schemas/hierarchyCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="securityPolicyHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="securityPolicy"/>
        <xs:element type="xs:string" name="securityGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
