schemas/highAvailabilityCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="highAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="vnic"/>
        <xs:element name="ipAddresses">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ipAddress" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="declareDeadTime"/>
        <xs:element type="xs:string" name="enabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
