schemas/installPackageUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clientInstallPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="profileName"/>
        <xs:element name="gatewayList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="gateway">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="hostName"/>
                    <xs:element type="xs:string" name="port"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="startClientOnLogon"/>
        <xs:element type="xs:string" name="hideSystrayIcon"/>
        <xs:element type="xs:string" name="rememberPassword"/>
        <xs:element type="xs:string" name="silentModeOperation"/>
        <xs:element type="xs:string" name="silentModeInstallation"/>
        <xs:element type="xs:string" name="hideNetworkAdaptor"/>
        <xs:element type="xs:string" name="createDesktopIcon"/>
        <xs:element type="xs:string" name="enforceServerSecurityCertValidation"/>
        <xs:element type="xs:string" name="createLinuxClient"/>
        <xs:element type="xs:string" name="createMacClient"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="enabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
