schemas/interfacesCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interface">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="addressGroups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="addressGroup">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="primaryAddress"/>
                          <xs:element type="xs:string" name="subnetMask"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="mtu"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="isConnected"/>
              <xs:element type="xs:string" name="connectedToId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
