schemas/ipPoolUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ipamAddressPool">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="objectId"/>
        <xs:element type="xs:string" name="objectTypeName"/>
        <xs:element type="xs:string" name="vsmUuid"/>
        <xs:element type="xs:string" name="revision"/>
        <xs:element name="type">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="typeName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="extendedAttributes"/>
        <xs:element type="xs:string" name="prefixLength"/>
        <xs:element type="xs:string" name="gateway"/>
        <xs:element type="xs:string" name="dnsSuffix"/>
        <xs:element type="xs:string" name="dnsServer1"/>
        <xs:element type="xs:string" name="dnsServer2"/>
        <xs:element name="ipRanges">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ipRangeDto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="startAddress"/>
                    <xs:element type="xs:string" name="endAddress"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
