schemas/layoutUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="portalTitle"/>
        <xs:element type="xs:string" name="companyName"/>
        <xs:element type="xs:string" name="logoBackgroundColor"/>
        <xs:element type="xs:string" name="titleColor"/>
        <xs:element type="xs:string" name="topFrameColor"/>
        <xs:element type="xs:string" name="menuBarColor"/>
        <xs:element type="xs:string" name="rowAlternativeColor"/>
        <xs:element type="xs:string" name="bodyColor"/>
        <xs:element type="xs:string" name="rowColor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
