schemas/lbMonitorsCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="monitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="interval"/>
        <xs:element type="xs:string" name="timeout"/>
        <xs:element type="xs:string" name="maxRetries"/>
        <xs:element type="xs:string" name="method"/>
        <xs:element type="xs:string" name="url"/>
        <xs:element type="xs:string" name="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
