schemas/loadBalancerConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="loadBalancer">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element type="xs:string" name="enableServiceInsertion"/>
        <xs:element type="xs:string" name="accelerationEnabled"/>
        <xs:element name="logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enable"/>
              <xs:element type="xs:string" name="logLevel"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="virtualServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="virtualServerId"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element type="xs:string" name="ipAddress"/>
              <xs:element type="xs:string" name="protocol"/>
              <xs:element type="xs:string" name="port"/>
              <xs:element type="xs:string" name="connectionLimit"/>
              <xs:element type="xs:string" name="connectionRateLimit"/>
              <xs:element type="xs:string" name="applicationProfileId"/>
              <xs:element type="xs:string" name="defaultPoolId"/>
              <xs:element type="xs:string" name="enableServiceInsertion"/>
              <xs:element type="xs:string" name="accelerationEnabled"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applicationProfile">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="applicationProfileId"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="insertXForwardedFor"/>
              <xs:element type="xs:string" name="sslPassthrough"/>
              <xs:element type="xs:string" name="template"/>
              <xs:element name="persistence">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="method"/>
                    <xs:element type="xs:string" name="cookieName"/>
                    <xs:element type="xs:string" name="cookieMode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="serverSslEnabled"/>
              <xs:element name="clientSsl"/>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="clientAuth"/>
                    <xs:element type="xs:string" name="serviceCertificate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pool">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="poolId"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="transparent"/>
              <xs:element type="xs:string" name="algorithm"/>
              <xs:element type="xs:string" name="monitorId"/>
              <xs:element name="member">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="memberId"/>
                    <xs:element type="xs:string" name="ipAddress"/>
                    <xs:element type="xs:string" name="weight"/>
                    <xs:element type="xs:string" name="port"/>
                    <xs:element type="xs:string" name="monitorPort"/>
                    <xs:element type="xs:string" name="minConn"/>
                    <xs:element type="xs:string" name="maxConn"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="monitor">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="monitorId"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="interval"/>
              <xs:element type="xs:string" name="timeout"/>
              <xs:element type="xs:string" name="maxRetries"/>
              <xs:element type="xs:string" name="method"/>
              <xs:element type="xs:string" name="url"/>
              <xs:element type="xs:string" name="name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applicationRule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="script"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
