schemas/logicalSwitchPing.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="gateway"/>
        <xs:element type="xs:string" name="packetSizeMode"/>
        <xs:element type="xs:string" name="packetSize"/>
        <xs:element name="sourceHost">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="hostId"/>
              <xs:element type="xs:string" name="switchId"/>
              <xs:element type="xs:string" name="vlanId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="destinationHost">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="hostId"/>
              <xs:element type="xs:string" name="switchId"/>
              <xs:element type="xs:string" name="vlanId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
