schemas/logicalSwitchVmAttach.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="com.vmware.vshield.vsm.inventory.dto.VnicDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="objectId"/>
        <xs:element type="xs:string" name="vnicUuid"/>
        <xs:element type="xs:string" name="portgroupId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
