schemas/netExtipPoolsUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ipAddressPool">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="ipRange"/>
        <xs:element type="xs:string" name="netmask"/>
        <xs:element type="xs:string" name="gateway"/>
        <xs:element type="xs:string" name="primaryDns"/>
        <xs:element type="xs:string" name="secondaryDns"/>
        <xs:element type="xs:string" name="dnsSuffix"/>
        <xs:element type="xs:string" name="winsServer"/>
        <xs:element type="xs:string" name="enabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
