schemas/nwFabricConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nwFabricFeatureConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="featureId"/>
        <xs:element name="resourceConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="resourceId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
