schemas/poolsCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pool">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="transparent"/>
        <xs:element type="xs:string" name="algorithm"/>
        <xs:element type="xs:string" name="monitorId"/>
        <xs:element name="member">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ipAddress"/>
              <xs:element type="xs:string" name="weight"/>
              <xs:element type="xs:string" name="port"/>
              <xs:element type="xs:string" name="minConn"/>
              <xs:element type="xs:string" name="maxConn"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="monitorPort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
