schemas/privateNetworkUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="privateNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="network"/>
        <xs:element name="sendOverTunnel">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ports"/>
              <xs:element type="xs:string" name="optimize"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="enabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
