schemas/routingConfigUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="routingGlobalConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ecmp"/>
              <xs:element type="xs:string" name="routerId"/>
              <xs:element name="logging">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="enable"/>
                    <xs:element type="xs:string" name="logLevel"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ipPrefixes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ipPrefix">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="ipAddress"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="staticRouting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="staticRoutes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="route">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:string" name="vnic"/>
                          <xs:element type="xs:string" name="network"/>
                          <xs:element type="xs:string" name="nextHop"/>
                          <xs:element type="xs:string" name="mtu"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="defaultRoute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="vnic"/>
                    <xs:element type="xs:string" name="gatewayAddress"/>
                    <xs:element type="xs:string" name="mtu"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ospf">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element type="xs:string" name="defaultOriginate"/>
              <xs:element type="xs:string" name="gracefulRestart"/>
              <xs:element type="xs:string" name="protocolAddress"/>
              <xs:element type="xs:string" name="forwardingAddress"/>
              <xs:element name="ospfAreas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ospfArea">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="areaId"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element name="authentication">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ospfInterfaces">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ospfInterface">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="vnic"/>
                          <xs:element type="xs:string" name="areaId"/>
                          <xs:element type="xs:string" name="helloInterval"/>
                          <xs:element type="xs:string" name="deadInterval"/>
                          <xs:element type="xs:string" name="priority"/>
                          <xs:element type="xs:string" name="cost"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="redistribution">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="enabled"/>
                    <xs:element name="rules">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="prefixName"/>
                                <xs:element name="from">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="isis"/>
                                      <xs:element type="xs:string" name="ospf"/>
                                      <xs:element type="xs:string" name="bgp"/>
                                      <xs:element type="xs:string" name="static"/>
                                      <xs:element type="xs:string" name="connected"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="action"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="isis">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element type="xs:string" name="systemId"/>
              <xs:element name="areaIds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="areaId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="isType"/>
              <xs:element type="xs:string" name="domainPassword"/>
              <xs:element type="xs:string" name="areaPassword"/>
              <xs:element name="isisInterfaces">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="isisInterface">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="vnic"/>
                          <xs:element type="xs:string" name="meshGroup"/>
                          <xs:element type="xs:string" name="helloInterval"/>
                          <xs:element type="xs:string" name="helloMultiplier"/>
                          <xs:element type="xs:string" name="lspInterval"/>
                          <xs:element type="xs:string" name="metric"/>
                          <xs:element type="xs:string" name="priority"/>
                          <xs:element type="xs:string" name="circuitType"/>
                          <xs:element type="xs:string" name="password"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="redistribution">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="enabled"/>
                    <xs:element name="rules">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="prefixName"/>
                                <xs:element name="from">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="isis"/>
                                      <xs:element type="xs:string" name="ospf"/>
                                      <xs:element type="xs:string" name="bgp"/>
                                      <xs:element type="xs:string" name="static"/>
                                      <xs:element type="xs:string" name="connected"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="action"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="bgp">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element type="xs:string" name="localAS"/>
              <xs:element name="bgpNeighbours">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="bgpNeighbour">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ipAddress"/>
                          <xs:element type="xs:string" name="remoteAS"/>
                          <xs:element type="xs:string" name="weight"/>
                          <xs:element type="xs:string" name="holdDownTimer"/>
                          <xs:element type="xs:string" name="keepAliveTimer"/>
                          <xs:element type="xs:string" name="password"/>
                          <xs:element name="bgpFilters">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="bgpFilter">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="direction"/>
                                      <xs:element type="xs:string" name="action"/>
                                      <xs:element type="xs:string" name="network"/>
                                      <xs:element type="xs:string" name="ipPrefixGe"/>
                                      <xs:element type="xs:string" name="ipPrefixLe"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="redistribution">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="enabled"/>
                    <xs:element name="rules">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="prefixName"/>
                                <xs:element name="from">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="isis"/>
                                      <xs:element type="xs:string" name="ospf"/>
                                      <xs:element type="xs:string" name="bgp"/>
                                      <xs:element type="xs:string" name="static"/>
                                      <xs:element type="xs:string" name="connected"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="action"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
