schemas/routingGlobalConfigUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routingGlobalConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="routerId"/>
        <xs:element type="xs:string" name="ecmp"/>
        <xs:element name="logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enable"/>
              <xs:element type="xs:string" name="logLevel"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ipPrefixes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ipPrefix">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="ipAddress"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
