schemas/routingOSPFUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ospf">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element name="ospfAreas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ospfArea">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="areaId"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element name="authentication">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ospfInterfaces">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ospfInterface">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="vnic"/>
                    <xs:element type="xs:string" name="areaId"/>
                    <xs:element type="xs:string" name="helloInterval"/>
                    <xs:element type="xs:string" name="deadInterval"/>
                    <xs:element type="xs:string" name="priority"/>
                    <xs:element type="xs:string" name="cost"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="redistribution">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element name="rules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rule">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="prefixName"/>
                          <xs:element name="from">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="isis"/>
                                <xs:element type="xs:string" name="ospf"/>
                                <xs:element type="xs:string" name="bgp"/>
                                <xs:element type="xs:string" name="static"/>
                                <xs:element type="xs:string" name="connected"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="action"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
