schemas/routingConfigStaticUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="staticRouting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="staticRoutes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="route">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="vnic"/>
                    <xs:element type="xs:string" name="network"/>
                    <xs:element type="xs:string" name="nextHop"/>
                    <xs:element type="xs:string" name="mtu"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="defaultRoute">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="vnic"/>
              <xs:element type="xs:string" name="gatewayAddress"/>
              <xs:element type="xs:string" name="mtu"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
