schemas/routingBGPUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bgp">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element type="xs:string" name="localAS"/>
        <xs:element name="bgpNeighbours">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bgpNeighbour">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ipAddress"/>
                    <xs:element type="xs:string" name="remoteAS"/>
                    <xs:element type="xs:string" name="weight"/>
                    <xs:element type="xs:string" name="holdDownTimer"/>
                    <xs:element type="xs:string" name="keepAliveTimer"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element name="bgpFilters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="bgpFilter">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="direction"/>
                                <xs:element type="xs:string" name="action"/>
                                <xs:element type="xs:string" name="network"/>
                                <xs:element type="xs:string" name="ipPrefixGe"/>
                                <xs:element type="xs:string" name="ipPrefixLe"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="redistribution">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element name="rules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rule">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="prefixName"/>
                          <xs:element name="from">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="isis"/>
                                <xs:element type="xs:string" name="ospf"/>
                                <xs:element type="xs:string" name="bgp"/>
                                <xs:element type="xs:string" name="static"/>
                                <xs:element type="xs:string" name="connected"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="action"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
