schemas/rulesCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="action"/>
        <xs:element name="appliedToList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="appliedTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="isValid"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="sectionId"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="generationNumber"/>
      <xs:attribute type="xs:string" name="timestamp"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
