schemas/secGroupBulkUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="securitygroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="objectId"/>
        <xs:element type="xs:string" name="objectTypeName"/>
        <xs:element type="xs:string" name="vsmUuid"/>
        <xs:element type="xs:string" name="revision"/>
        <xs:element name="type">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="typeName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="scope">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="objectTypeName"/>
              <xs:element type="xs:string" name="vsmUuid"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="revision"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="clientHandle"/>
        <xs:element type="xs:string" name="extendedAttributes"/>
        <xs:element name="member">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="objectId"/>
              <xs:element type="xs:string" name="objectTypeName"/>
              <xs:element type="xs:string" name="vsmUuid"/>
              <xs:element type="xs:string" name="revision"/>
              <xs:element name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="typeName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="scope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="objectTypeName"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="clientHandle"/>
              <xs:element type="xs:string" name="extendedAttributes"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="excludeMember">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="objectId"/>
              <xs:element type="xs:string" name="objectTypeName"/>
              <xs:element type="xs:string" name="vsmUuid"/>
              <xs:element type="xs:string" name="revision"/>
              <xs:element name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="typeName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="scope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="objectTypeName"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="clientHandle"/>
              <xs:element type="xs:string" name="extendedAttributes"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dynamicMemberDefinition">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dynamicSet">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="operator"/>
                    <xs:element name="dynamicCriteria">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="operator"/>
                          <xs:element type="xs:string" name="key"/>
                          <xs:element type="xs:string" name="criteria"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
