schemas/serviceGroupUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="objectId"/>
        <xs:element name="type">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="typeName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="revision"/>
        <xs:element type="xs:string" name="objectTypeName"/>
        <xs:element name="scope">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="objectTypeName"/>
              <xs:element type="xs:string" name="name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="extendedAttributes"/>
        <xs:element type="xs:string" name="inheritanceAllowed"/>
        <xs:element name="member">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="objectId"/>
              <xs:element name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="typeName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="revision"/>
              <xs:element type="xs:string" name="objectTypeName"/>
              <xs:element name="scope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="objectTypeName"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="extendedAttributes"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
