schemas/serviceUpgrade.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clusterDeploymentConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clusterDeploymentConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="clusterId"/>
              <xs:element type="xs:string" name="datastore"/>
              <xs:element name="services">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="serviceDeploymentConfig">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="serviceId"/>
                          <xs:element type="xs:string" name="serviceInstanceId"/>
                          <xs:element type="xs:string" name="dvPortGroup"/>
                          <xs:element type="xs:string" name="ipPool"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
