schemas/serviceGroupsCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="revision"/>
        <xs:element type="xs:string" name="inheritanceAllowed"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
