schemas/serviceUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="objectId"/>
        <xs:element name="type">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="typeName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="revision"/>
        <xs:element type="xs:string" name="objectTypeName"/>
        <xs:element name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="applicationProtocol"/>
              <xs:element type="xs:string" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
