schemas/solutionIPPortSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ip"/>
        <xs:element type="xs:string" name="port"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
