schemas/ssoConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ssoConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ssoLookupServiceUrl"/>
        <xs:element type="xs:string" name="ssoAdminUsername"/>
        <xs:element type="xs:string" name="ssoAdminUserpassword"/>
        <xs:element type="xs:string" name="certificateThumbprint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
