schemas/syslogUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="syslog">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="protocol"/>
        <xs:element name="serverAddresses">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ipAddress"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
