schemas/systemTimeUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="timeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ntpServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="datetime"/>
        <xs:element type="xs:string" name="timezone"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
