schemas/traceflowCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="traceflowRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="vmnicId"/>
        <xs:element type="xs:string" name="timeout"/>
        <xs:element type="xs:string" name="routed"/>
        <xs:element type="xs:string" name="packet"/>
        <xs:element type="xs:string" name="resourceType"/>
        <xs:element name="ethHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="srcMac"/>
              <xs:element type="xs:string" name="dstMac"/>
              <xs:element type="xs:string" name="ethType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ipHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ttl"/>
              <xs:element type="xs:string" name="srcIp"/>
              <xs:element type="xs:string" name="dstIp"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
