schemas/universalSyncConfigurationNsxManagersCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nsxManagerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nsxManagerIp"/>
        <xs:element type="xs:string" name="nsxManagerUsername"/>
        <xs:element type="xs:string" name="nsxManagerPassword"/>
        <xs:element type="xs:string" name="certificateThumbprint"/>
        <xs:element type="xs:string" name="isPrimary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
