schemas/vcConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vcInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ipAddress"/>
        <xs:element type="xs:string" name="userName"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="certificateThumbprint"/>
        <xs:element type="xs:string" name="assignRoleToUser"/>
        <xs:element type="xs:string" name="pluginDownloadServer"/>
        <xs:element type="xs:string" name="pluginDownloadPort"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
