schemas/vdnScopeUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vdnScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clusters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cluster">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cluster">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="objectId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="objectId"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="controlPlaneMode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
