schemas/vdsContext.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vdsContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="switch">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="objectId"/>
              <xs:element name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="typeName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="revision"/>
              <xs:element type="xs:string" name="objectTypeName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="teaming"/>
        <xs:element type="xs:string" name="mtu"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
