schemas/virtualServersCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="virtualServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:boolean" name="enabled"/>
        <xs:element type="xs:string" name="ipAddress"/>
        <xs:element type="xs:string" name="protocol"/>
        <xs:element type="xs:string" name="port"/>
        <xs:element type="xs:long" name="connectionLimit"/>
        <xs:element type="xs:long" name="connectionRateLimit"/>
        <xs:element type="xs:string" name="applicationProfileId"/>
        <xs:element type="xs:string" name="defaultPoolId"/>
        <xs:element type="xs:string" name="enableServiceInsertion"/>
        <xs:element type="xs:boolean" name="accelerationEnabled"/>
        <xs:element type="xs:string" name="applicationRuleId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
