schemas/webResourcesCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="webResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="url"/>
        <xs:element name="method">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="data"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="enabled"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
